<div class='frost-modal-demo-title'>
  Template
</div>
<div class='frost-modal-demo-snippet'>
  {{code-snippet name='client-typed-template.hbs'}}
</div>
<div class='frost-modal-demo-title'>
  Controller
</div>
<div class='frost-modal-demo-snippet'>
  {{code-snippet name='client-typed-controller.js'}}
</div>
