{{frost-select-outlet hook='demo'}}
{{notification-container position="top-right"}}

<div class='frost-modal-demo'>
  <div class='frost-modal-demos'>
    <div class='frost-modal-demo-title'>
      Demos
    </div>
    {{#frost-scroll class='frost-modal-demo-selectors' hook='demos'}}
      {{#link-to 'overview'}}Overview{{/link-to}}
      {{#link-to 'helpers'}}Helpers{{/link-to}}
      <div class='frost-modal-demo-selector-title'>
        Client side control flow
        {{#link-to 'client'}}Demo{{/link-to}}
        {{#link-to 'client-code'}}Code{{/link-to}}
      </div>
      <div class='frost-modal-demo-selector-title'>
        Client side control flow with typed list items and action bar loading animation
        {{#link-to 'client-typed'}}Demo{{/link-to}}
        {{#link-to 'client-typed-code'}}Code{{/link-to}}
      </div>
      <div class='frost-modal-demo-selector-title'>
        Server side control flow
        {{#link-to 'server'}}Demo{{/link-to}}
        {{#link-to 'server-code'}}Code{{/link-to}}
      </div>
    {{/frost-scroll}}
  </div>
  {{#frost-scroll class='frost-modal-demo-example' hook='content'}}
    {{outlet}}
  {{/frost-scroll}}
</div>
