$frost-action-bar-box-shadow-color: rgba(0, 0, 0, 0.2);
$frost-action-bar-background-color: rgba($frost-color-white, 0.85);
$frost-action-bar-loading-dimension: 35px;
$frost-action-bar-loading-text-margin: calc(#{$frost-action-bar-loading-dimension} - #{$frost-font-s});

.frost-action-bar {
  display: flex;
  position: relative;
  left: 1px;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2px);
  height: $frost-action-bar-height;
  padding: 10px;
  background-color: $frost-action-bar-background-color;
  box-shadow: 0 -2px 8px $frost-action-bar-box-shadow-color;
  z-index: 1;

  &-selections {
    align-self: center;
    color: $frost-color-grey-3;
    font-size: $frost-font-s;
  }

  &-loading {
    display: flex;
    flex-direction: row;

    .frost-loading {
      width: $frost-action-bar-loading-dimension;
      height: $frost-action-bar-loading-dimension;
      margin: 0 15px;
    }

    .loading-text {
      margin-top: calc(#{$frost-action-bar-loading-text-margin} / 2);
      color: $frost-color-blue-1;
      font-size: $frost-font-s;
    }
  }

  &-buttons {
    display: flex;
  }

  &-buttons > * {
    margin-left: 15px;
  }
}
