@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'tests/dummy/app/pods/components/list-item/styles';
@import 'tests/dummy/app/pods/components/list-item-typed/styles';
@import 'tests/dummy/app/pods/components/list-item-expansion/styles';

.frost-modal-demo {
  display: flex;
  flex-direction: row;
}

.frost-modal-demos {
  height: 100vh;
  padding: 0 20px;
}

.frost-modal-demo-title {
  margin-top: 20px;
  color: $frost-color-grey-2;
  font-size: $frost-font-m;
  font-weight: bold;
}

.frost-modal-demo-notes {
  margin: 0 20px 0 10px;
  font-size: $frost-font-s;
}

.frost-modal-demo-snippet {
  pre {
    font-size: 0.8em;
  }
}

.frost-modal-demo-selectors {
  min-width: 100px;
  max-width: 300px;
  height: calc(100vh - 61px);
  margin: 10px 0 10px 10px;
  padding-right: 20px;
  font-size: $frost-font-s;

  a {
    display: block;
    transition: color .3s;
    color: $frost-color-grey-2;
    font-style: normal;
    text-decoration: initial;
    cursor: pointer;

    &:hover {
      color: $frost-color-blue-3;
    }

    &.active {
      color: $frost-color-blue-1;
    }

    + a {
      padding-top: 10px;
    }
  }
}

.frost-modal-demo-selector-title {
  padding-top: 10px;
  font-style: italic;

  + a {
    padding-top: 10px;
  }

  > a,
  > .frost-modal-demo-selector-title {
    padding: 10px 0 0 10px;
  }
}

.frost-modal-demo-example {
  width: 100%;
}

.frost-object-browser {
  height: 100vh;
}

@import 'ember-frost-bunsen';
@import './ember-frost-bunsen';
